/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #ececec; }
body { margin: 0; font-family: 'Noto Sans TC', sans-serif; }

/* font-family: 'Noto Sans TC', sans-serif;
font-family: Roboto, "Helvetica Neue", sans-serif; */
* {
    font-family: 'Noto Sans TC', sans-serif;
}