<mat-card>
    <mat-card-content>
      <div class="header">
        <P>Sign Into Your Account </P>
        <img style="width: 400px; height: 250px;"  src="assets/images/logo.png">
      </div>
      <form form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" class="form-control" formControlName="username" matInput/>
            <mat-error>Email is required</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" class="form-control" formControlName="password" matInput />
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
          <mat-error>
              Password is required
          </mat-error>
        </mat-form-field>
        </div>
        <div style="color: red; padding-bottom: 1rem;" *ngIf="showError">Wrong email or password!</div>
        <button type="submit" mat-flat-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
<p style="text-align: center;">Technical Support TeamWork</p>
<p style="text-align: center;">Email: <a href="mailto:support@teamwork.ua">support@teamwork.ua</a></p>