<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container"> 
    <table mat-table [dataSource]="dataSource">
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9999">
        <div *ngIf="!isLoadingResults">There is no approved reqeust yet :(</div>
        </td>
      </tr>
      <!-- Position Column -->
      <ng-container matColumnDef="RequestStatusId">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.RequestStatus.Name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Creator">
        <th mat-header-cell *matHeaderCellDef> Creator</th>
        <td mat-cell *matCellDef="let element"> {{element.Creator.LastName}} {{element.Creator.FirstName}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="Sum">
        <th mat-header-cell *matHeaderCellDef> Sum </th>
        <td mat-cell *matCellDef="let element"> {{element.Sum}}$ </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Description">
          
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.Description}} </td> 
      </ng-container>
       <!-- Symbol Column -->
       <ng-container matColumnDef="Actions">
          
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row"> <button matTooltip="Go to details" style="box-shadow: none;" (click)="goToRequest(row.Id)" mat-icon-button color="#212121" aria-label="Details">
          <mat-icon>launch</mat-icon>
        </button>  </td> 
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="mat-row" mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
</div>
 