<h1 mat-dialog-title>History</h1>
<div mat-dialog-content>
    <mat-list role="list">
        <mat-list-item *ngFor="let element of data.requestHistory" role="listitem">
            <div *ngIf="element.Flag==='CREATED'">{{element.CreatedBy}} created request at {{formatedDate(element.CreatedOn)}}</div>
            <div *ngIf="element.Flag==='EDITED'">{{element.CreatedBy}} edited request at {{formatedDate(element.CreatedOn)}}</div>
            <div *ngIf="element.Flag==='DELETED'">{{element.CreatedBy}} deleted request at {{formatedDate(element.CreatedOn)}}</div>
            <div *ngIf="element.Flag==='APPROVED'">{{element.CreatedBy}} approved request at {{formatedDate(element.CreatedOn)}}</div>
            <div *ngIf="element.Flag==='DENIED'">{{element.CreatedBy}} denied request at {{formatedDate(element.CreatedOn)}}</div>
            <div *ngIf="element.Flag==='SENT_FOR_APPROVAL'">{{element.CreatedBy}} sent request for approval at {{formatedDate(element.CreatedOn)}}</div>
            <div *ngIf="element.Flag==='DONE'">{{element.CreatedBy}} completed request at {{formatedDate(element.CreatedOn)}}</div>
        </mat-list-item>
      </mat-list>
</div>