table {
    width: 100%;
  }
  tr.mat-row:hover {background-color:#f5f5f5;}
  .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #fdfdfd;
    color: #080202;
}

.example-container {
  position: relative;
}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

.example-table-container {
  position: relative;
  min-height: 100px;
  max-height: 400px;
  overflow: auto;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.createButton{
  margin-top: 10px;
}