
<div mat-dialog-content>
  <p>What is your reason for refusal?</p>
  <mat-form-field>
    <mat-label>Reason</mat-label>
    <input matInput [(ngModel)]="data.cancelMessage">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.cancelMessage" cdkFocusInitial>Ok</button>
</div>