table {
    width: 100%;
    box-shadow: none;
    border: 1px solid black;
    border-collapse: inherit;
  }

  mat-card {
    margin-bottom: 30px;
    height: fit-content;
  }
  .displayflexitem{
    display: flex;
  }