<div *ngIf="request">

<div *ngIf="request.RequestStatus.Flag === 'CREATED'">

  <button matTooltip="Send reqeust for approval" style="margin-bottom: 1rem;" id="sendForApprovalButton" [disabled]="request.ApprovalList.Members.length == 0" type="button" (click)="sendForApproval()" mat-flat-button color="primary">Send for Approval</button>
  <button matTooltip="Delete Request" style="margin-bottom: 1rem; margin-left: 0.5rem;" type="button" (click)="deleteRequest()" mat-flat-button color="warn">Delete</button>

  <mat-card>
  <form autocomplete="off" [formGroup]="requestForm" (ngSubmit)="update()">
    <div>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Request Name</mat-label>
        <input type="text" class="form-control" formControlName="Name" matInput>
        <mat-error >This field is required!</mat-error>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea type="text" placeholder="Enter description...." class="form-control" formControlName="Description" matInput></textarea>
        <mat-error >This field is required!</mat-error>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Sum</mat-label>
        <input  type="number" class="form-control" formControlName="Sum" matInput>
        <mat-error >This field is required!</mat-error>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" class="form-control" formControlName="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
   <button matTooltip="Edit request" style="margin-top: 16px;" (click)="editSnackBar()" type="submit" mat-flat-button color="primary">Edit</button>
  </form>
</mat-card>
<mat-card>
  <h2>Request route</h2>
    <form form [formGroup]="approvalForm" *ngIf="approvalList"  (ngSubmit)="addApprover()">
      <mat-form-field appearance="fill">
          <mat-label>Choose Approver</mat-label>
          <mat-select formControlName="UserId">
            <mat-option *ngFor="let approver of approversList" [value]="approver.Id">
              {{approver.LastName}} {{approver.FirstName}} - {{approver.Position}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button matTooltip="Add approver to list" style="margin-left: 16px;" type="submit" mat-flat-button color="primary">Add</button>
      </form>

    <table *ngIf="dataSource.filteredData.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="MemberName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Member.FirstName}} {{element.Member.LastName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.Member.Position}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"><p *ngIf="element.Approved===1">Принят</p> 
        <p *ngIf="element.Approved===0">В обработке</p>
        <p *ngIf="element.Approved===-1">Отклонен</p>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Action">
          
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row"> <button matTooltip="Delete approver from list" style="box-shadow: none;" (click)="deleteMemberFromApprovalList(row.Id, row.ApprovalListId)" mat-icon-button color="accent" aria-label="Details">
          <mat-icon >clear</mat-icon>
        </button>  </td> 
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

<mat-card>
  <!-- <mat-tab-group animationDuration="0ms" >
  <div class="container" *ngIf="request">
<mat-tab  *ngFor="let file of request.RequestFiles" [label]="(request.RequestFiles.indexOf(file) + 1).toString()">
<iframe style="width: 100%; height: 1000px;" id="iframe"  class="iframe" [src]="file.SafeUrl" width="100%" height="100%"></iframe>
</mat-tab>
</div>
</mat-tab-group> -->

<mat-list>
  <h2>File attachments</h2>
  <form [formGroup]="filesForm" (ngSubmit)="addNewFileToRequest()">
    <input accept=".pdf" type="file" multiple class="form-control" formControlName="Files" (change)="onSelectedFileMultiple($event)">
    <button matTooltip="Upload File" style="margin-top: 16px;" type="submit" mat-flat-button color="primary">Upload File</button>
  </form>
    <mat-list-item class="displayflexitem" *ngFor="let file of request.RequestFiles">
      <mat-icon mat-list-icon>file_present</mat-icon>
      <div mat-line>{{file.Name}}</div>
      <div mat-line>{{getCreatedOn(file.CreatedOn)}} | {{fileLength(file.Length)}} Mb </div>
      <button style="box-shadow: none;" (click)="deleteFileFromRequest(file.Id)"mat-icon-button color="accent" aria-label="Details">
        <mat-icon>clear</mat-icon>
      </button>  
    </mat-list-item>
</mat-list>
</mat-card>
</div>

<div *ngIf="request.RequestStatus.Flag != 'CREATED'">
  <div *ngIf="request.RequestStatus.Flag==='DENIED'">
    <button style="display: inline-block;" matTooltip="Log Info" (click)="openHistory()" mat-icon-button>
      <mat-icon>history</mat-icon>
    </button>  
    <mat-card style="background: #faa;">
      <h3>Request was denied by {{request.LastUpdatedBy}}</h3>
      <h3>Reason - {{approvalList.CancelMessage}}</h3>
    </mat-card>
  </div>
  <div *ngIf="request.RequestStatus.Flag==='DONE'">
    <button style="display: inline-block;" matTooltip="Log Info" (click)="openHistory()" mat-icon-button>
      <mat-icon>history</mat-icon>
    </button>  
    <mat-card style="background: #88f7df;">
      <h3>Request was performed by {{request.LastUpdatedBy}}</h3>
      <h3></h3>
    </mat-card>
  </div>
<div *ngIf="ifCreator()">
  <div *ngIf="request.RequestStatus.Flag==='APPROVED'">
      <div style="width: 100%; padding-bottom: 1rem;"  *ngIf="isApprove()">
        <div style="display: inline-block;" *ngIf="checkPermission('CanPerformRequest')">
          <button matTooltip="Complete request"  type="button" (click)="completeStep()" mat-raised-button color="primary">Complete</button>
        </div>
        <div style="display: inline-block;padding-left: 0.5rem; " *ngIf="checkPermission('CanPerformRequest') || checkPermission('CanApproveRequest')">
          <button matTooltip="Decline request"  type="button" (click)="openDialog()" mat-raised-button color="warn">Decline</button>
        </div>  
        <button style="display: inline-block;" matTooltip="Log Info" (click)="openHistory()" mat-icon-button>
          <mat-icon>history</mat-icon>
        </button>        
      </div>
  </div>
</div>
<div *ngIf="ifCreator()">
  <div *ngIf="request.RequestStatus.Flag==='PENDING'">    
        <div style="width: 100%; padding-bottom: 1rem;"  *ngIf="isApprove()">
          <div style="display: inline-block; " *ngIf="checkPermission('CanApproveRequest')">
            <button matTooltip="Approve request" type="button" (click)="approveStep()" mat-raised-button color="primary">Approve</button>
          </div>
          <div style="display: inline-block;padding-left: 0.5rem; " *ngIf="checkPermission('CanPerformRequest') || checkPermission('CanApproveRequest')">
            <button matTooltip="Decline request"  type="button" (click)="openDialog()" mat-raised-button color="warn">Decline</button>
          </div>
          <button style="display: inline-block;" matTooltip="Log Info" (click)="openHistory()" mat-icon-button>
            <mat-icon>history</mat-icon>
          </button>           
        </div>
  </div>
</div>
<mat-card>
  <div>
    <h2>{{request.Name}}</h2>
    <div style="display: flex; align-items: center;"><h4 style="padding-right: 0.5rem;">by {{request.Creator.LastName}} {{request.Creator.FirstName}}</h4> <p>{{getCreatedOn(request.CreatedOn)}}</p></div>
    <h3>{{request.Description}}</h3>
  </div>
</mat-card>
<mat-card>
  <h2>Request route</h2>
    <table *ngIf="dataSource.filteredData.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="MemberName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Member.FirstName}} {{element.Member.LastName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.Member.Position}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"><p *ngIf="element.Approved===1">Принят</p> 
        <p *ngIf="element.Approved===0">В обработке</p>
        <p *ngIf="element.Approved===-1">Отклонен</p>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsMinusAction"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsMinusAction;"></tr>
  </table>
</mat-card>
<mat-card *ngIf="request.RequestFiles.length>0">
  <h2>File attachments</h2>
  <mat-tab-group animationDuration="0ms" >
  <div class="container" *ngIf="request">
<mat-tab  *ngFor="let file of request.RequestFiles" [label]="(request.RequestFiles.indexOf(file) + 1).toString()">
<iframe style="width: 100%; height: 1000px;" id="iframe"  class="iframe" [src]="file.SafeUrl" width="100%" height="100%"></iframe>
</mat-tab>
</div>
</mat-tab-group>
</mat-card>
</div>

</div>



  


