<mat-card>
    <mat-card-content>
<div class="container">
    <form autocomplete="off" [formGroup]="requestForm" (ngSubmit)="create()">
        <div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Request Name</mat-label>
            <input type="text" class="form-control" formControlName="Name" matInput>
            <mat-error >This field is required!</mat-error>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea type="text" placeholder="Enter description...." class="form-control" formControlName="Description" matInput></textarea>
            <mat-error >This field is required!</mat-error>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Sum</mat-label>
            <input type="number" class="form-control" formControlName="Sum" matInput>
            <mat-error >This field is required!</mat-error>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" class="form-control" formControlName="Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <label>Files</label>
        <input accept=".pdf" type="file" multiple class="form-control" formControlName="Files" (change)="onSelectedFileMultiple($event)">
        
       <button style="margin-top: 16px;" type="submit" mat-flat-button color="primary">Create</button>

    </form>
    </div>
    </mat-card-content>
</mat-card>