<div>
    <button matTooltip="Create user" mat-raised-button class="green_button" (click)="createUser()" color="accent" aria-label="Create User">
      <mat-icon>post_add</mat-icon>Create
    </button>
  </div>
<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>
<div class="example-table-container createButton">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.LastName}} {{element.FirstName}} </td>
      </ng-container>
      
       <!-- Name Column -->
       <ng-container matColumnDef="UserName">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let element"> {{element.UserName}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="PhoneNumber">
        <th mat-header-cell *matHeaderCellDef> PhoneNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="Position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
      </ng-container>
      
       <!-- Symbol Column -->
       <ng-container matColumnDef="Actions">
          
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row"> <button style="box-shadow: none;" (click)="goToUser(row.Id)"  mat-icon-button color="#212121" aria-label="Details">
          <mat-icon>launch</mat-icon>
        </button>  </td> 
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="mat-row" mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
 </div>