<div *ngIf="user">
<mat-card>
    <h2>Add Role</h2>
      <form form [formGroup]="roleForm"   (ngSubmit)="addRole()">
        <mat-form-field appearance="fill">
            <mat-label>Choose Role</mat-label>
            <mat-select formControlName="Role">
              <mat-option *ngFor="let role of rolesList" [value]="role">
                {{role}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button style="margin-left: 16px;" type="submit" mat-flat-button color="primary">Add</button>
        </form>
    <mat-list>
        <mat-list-item class="displayflexitem" *ngFor="let role of user.Item2">
            <mat-icon mat-list-icon>account_box</mat-icon>
            <div mat-line>{{role}}</div>
            <button style="box-shadow: none;" (click)="removeRole(role)" mat-icon-button color="accent" aria-label="Details">
              <mat-icon>clear</mat-icon>
            </button>  
        </mat-list-item>
    </mat-list>
</mat-card>
<mat-card>
    <h2>Add Permission</h2>
      <form form [formGroup]="permissionForm"   (ngSubmit)="addPermission()">
        <mat-form-field appearance="fill">
            <mat-label>Choose Permission</mat-label>
            <mat-select formControlName="Permission">
              <mat-option *ngFor="let permission of permissionsList" [value]="permission.Value">
                {{permission.Value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button style="margin-left: 16px;" type="submit" mat-flat-button color="primary">Add</button>
        </form>
    <mat-list>
        <mat-list-item class="displayflexitem" *ngFor="let permission of user.Item3">
            <mat-icon mat-list-icon>account_box</mat-icon>
            <div mat-line>{{permission.Value}}</div>
            <button style="box-shadow: none;" (click)="removePermission(permission.Value)" mat-icon-button color="accent" aria-label="Details">
              <mat-icon>clear</mat-icon>
            </button>  
        </mat-list-item>
    </mat-list>
</mat-card>
</div>