<mat-card>
    <mat-card-content>
<div class="container">
    <form autocomplete="off" [formGroup]="userForm" (ngSubmit)="create()">
        <div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Name</mat-label>
            <input type="email"  class="form-control" formControlName="UserName" matInput>
            <mat-error [class.is-invalid] = "userForm.get('UserName')?.invalid && userForm.get('UserName')?.touched">
                Please enter a valid email address
              </mat-error>
        </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input [type]="hide ? 'password' : 'text'" class="form-control" formControlName="Password" matInput />
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hide">
              <mat-icon>
                  {{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
          </button>
          <mat-error>
              Password is required
            </mat-error>
          </mat-form-field>
          </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input type="text" class="form-control" formControlName="FirstName" matInput>
                <mat-error >This field is required!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input type="text" class="form-control" formControlName="LastName" matInput>
                <mat-error >This field is required!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Position</mat-label>
                <input type="text" class="form-control" formControlName="Position" matInput>
                <mat-error >This field is required!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input type="tel" class="form-control" formControlName="PhoneNumber" matInput>
                <mat-error >This field is required!</mat-error>
            </mat-form-field>
        </div>
       <button style="margin-top: 16px;" type="submit" mat-flat-button color="primary">Create</button>

    </form>
    </div>
    </mat-card-content>
</mat-card>