.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
/* .mat-list-item:hover{
  background-color: transparent;
} */

.example-spacer {
  flex: 1 1 auto;
}

.content-body{
  min-height: 100%;
  padding: 30px 1rem;
  background: #ececec;
  display: block;
}

.logout{
  position: absolute;
    display: inline-block;
    bottom: 0;
    border: none;
background: none;
}
.logout:hover{
  background-color: #ff40811a;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
   box-shadow: none;
}
/* mat-expansion-panel,
mat-expansion-panel * {
  transition: none !important;
} */

.selected{
  background-color: #d6d6d6;
}