<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" >
    <mat-toolbar><a style="text-decoration: none; color: #3f51b5; margin-left: 1rem;" href=""><mat-icon >thumb_up</mat-icon> TeamWork</a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="" class="{{ifHome()}}">Home</a>
      <mat-expansion-panel [@.disabled]="true" [expanded]="expanded">
       <mat-expansion-panel-header>
          Requests
       </mat-expansion-panel-header> 
      <a mat-list-item href="requests" class="{{ifRequests()}}">Created by you</a>
      <a mat-list-item href="requests/pending" class="{{ifPending()}}" *ngIf="checkPermission('CanApproveRequest')">To review</a>
      <div *ngIf="checkPermission('CanPerformRequest')">   
        <a mat-list-item href="requests/approved" class="{{ifApproved()}}">Approved</a>
        <a mat-list-item href="requests/complete" class="{{ifComplete()}}">Completed</a>
      </div> 
    </mat-expansion-panel>
    <div *ngIf="checkPermission('CanEditUsers')">   
      <a mat-list-item href="admin">Admin panel</a>
    </div> 
    <button class="logout" (click)="logout()"  mat-list-item href="">
      Logout
    </button>
    </mat-nav-list>
 
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button *ngIf="getTitle()!='Home'" mat-icon-button (click)="back()" matTooltip="Go Back" aria-label="Go back">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <span>{{getTitle()}}</span>
      <span class="example-spacer"></span>
      <div class="d-flex">
        <span>Signed in as <a style="color: #fff;" href="profile">{{userName()}}</a></span>
      </div>
     
    </mat-toolbar>
    <div class="content-body">
      <router-outlet></router-outlet>
       </div>
  </mat-sidenav-content>
</mat-sidenav-container>
