<mat-card>
    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Current Password</mat-label>
              <input [type]="hideOld ? 'password' : 'text'" class="form-control" formControlName="OldPassword" matInput />
              <button type="button" mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hideOld">
              <mat-icon>
                  {{hideOld ? 'visibility_off' : 'visibility'}}
              </mat-icon>
          </button>
          <mat-error>
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>New Password</mat-label>
              <input [type]="hideNew ? 'password' : 'text'" class="form-control" formControlName="NewPassword" matInput />
              <button type="button" mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hideNew">
              <mat-icon>
                  {{hideNew ? 'visibility_off' : 'visibility'}}
              </mat-icon>
          </button>
          <mat-error>
              Password is required
            </mat-error>
          </mat-form-field>
          <div style="color: red; padding-bottom: 1rem;" *ngIf="showError">Your password must be atleast 6 characters, one uppercase, or capital letter, one lowercase, one number digit and one special character - for example: $, #, @, ! </div>
        </div>
     <button style="margin-top: 16px;" type="submit" mat-flat-button color="primary">Update</button>
    </form>
  </mat-card>