<div *ngIf="!isLoadingResults">
    <div *ngIf="checkPermission('CanCreateRequest')" style="display:flex;">
        <div *ngIf="!request" style="width: 25%; margin-right: 1rem;">
            <mat-accordion style="width: 400px;">
                <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    <mat-icon style="color: #000000">post_add</mat-icon> <p style="margin-left: 12px;">Create Request</p>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                You have not created any requests yet. 
                <mat-action-row>
                    <button mat-button color="primary" (click)="createRequest()">Create</button>
                </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
    </div>
        <div *ngIf="request" style="width: 25%; margin-right: 1rem;">
                <mat-accordion style="width: 400px;">
                    <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        <mat-icon style="color: #000000">schedule</mat-icon> <p style="margin-left: 12px;">Recent Request</p>
                        </mat-panel-title>
                        <mat-panel-description style="
                        justify-content: flex-end;">
                            <span></span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Name: {{request.Name}}</mat-list-item>
                        <mat-list-item role="listitem">Status: {{request.RequestStatus.Name}}</mat-list-item>
                        <mat-list-item role="listitem">Created On: {{getCreatedOn()}}</mat-list-item>
                        <mat-list-item role="listitem">Deadline: {{getDate()}}</mat-list-item>
                    </mat-list>
                    <mat-action-row>
                        <button mat-button color="primary" (click)="goToRecent()">Show</button>
                    </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
        </div>
        <div *ngIf="checkPermission('CanApproveRequest')" style="width: 25%;margin-right: 1rem;">
                <div *ngIf="getPendingCount()>0">
                    <mat-accordion style="width: 400px;">
                        <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                            <mat-icon style="color: #ffdb58">pending</mat-icon> <p style="margin-left: 12px;">Pending Requests</p>
                            </mat-panel-title>
                            <mat-panel-description style="
                            justify-content: flex-end;
                            padding: 0px 9px 0px 0px;">
                                <span>{{getPendingCount()}}</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Some reqeusts is waiting for your approval</p>
                        <mat-action-row>
                            <button mat-button color="primary" (click)="goToPending()">Show</button>
                        </mat-action-row>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
        </div>
        <div *ngIf="checkPermission('CanPerformRequest')" style="width: 25%;margin-right: 1rem;">
                <div *ngIf="getApprovedCount()>0">
                    <mat-accordion style="width: 400px;">
                        <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                            <mat-icon style="color: #80a6e0">verified</mat-icon> <p style="margin-left: 12px;">Approved Requests</p>
                            </mat-panel-title>
                            <mat-panel-description style="
                            justify-content: flex-end;
                            padding: 0px 9px 0px 0px;">
                                <span>{{getApprovedCount()}}</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Some reqeusts is waiting for your completion</p>
                        <mat-action-row>
                            <button mat-button color="primary" (click)="goToPending()">Show</button>
                        </mat-action-row>
                        </mat-expansion-panel>
                    </mat-accordion>
            </div>
        </div>
    </div> 
</div>
<!-- <div id="divChart">
  <canvas id="chart"></canvas>
</div> -->
